.form {
  flex: 0 1 60%;
  display: flex;
  align-items: center;

  .input {
    cursor: pointer;
    width: 307px;
    padding: 11px 14px;
    margin-right: 27px;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    transition: all 0.5s;
    &:hover {
      transition: all 0.5s;
      box-shadow: 0px 0px 12px 6px #f5f5f5;

      input {
        color: #252733;
      }
    }
    input {
      cursor: pointer;
      width: 100%;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      color: #b0b0b0;
    }
  }
}
