.container {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #dfe0eb;
  width: fit-content;
  border-radius: 8px;
  transition: all 0.5s;

  & p {
    margin-left: 5px;
    font-weight: bold;
  }

  &:hover {
    transition: all 0.5s;
    background-color: rgb(247, 247, 247);
  }
}
