.container {
  margin: 40px;
  border: 1px solid #dfe0eb;
  border-radius: 8px;
  width: -webkit-fill-available;
  background-color: #ffffff;
}

.title {
  font-size: 19px;
  font-weight: bold;
  padding: 32px;
}
