

.toggleBtn{
		display: flex;
		align-items: center;
		justify-content: center;
		padding:13px 10px;
		border: 1px solid #DFE0EB;
		border-radius: 10px;
			button {
					align-self: center;
					font-weight: 700;
					font-size: 16px;
					line-height: 20px;
					letter-spacing: 0.4px;
					color: #FFFFFF;		
				}
				span{
					margin-right: 10px;
				}
}
.toggleBtn.save {
	background: #1BC100;
}
.delete {
	background: #D80101;
}