.container {
  padding-top: 30px;

  & input {
    border-radius: 5px;
    font-size: 14px;
    color: #000000;
    padding: 10px;
    border: 1px solid #f5f5f5;
    width: 100px;

    &:first-child {
      margin-right: 40px;
    }
  }
}

@media (max-width: 1503px) {
  .container {
    & input:first-child {
      margin-right: 10px;
    }
  }
}
@media (max-width: 1400px) {
  .container {
    & input:first-child {
      margin-right: 0px;
    }
  }
}
