.title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
  text-align: end;
}

.filtersButton {
  min-width: 232px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
  width: fit-content;

  & p {
    font-weight: 600;
    margin-left: 8px;
    margin-right: 8px;
  }
}

.inputs {
  display: flex;
  width: 232px;
  margin-bottom: 15px;

  & label {
    font-size: 14px;
  }
}

.buttons {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.success {
  cursor: pointer;
  background-color: #1e5900;
  color: #fff;
  padding: 8px;
  border: none;
  border-radius: 3px;
  margin-right: 8px;
}

.reset {
  cursor: pointer;
  background-color: #fff;
  color: rgb(0, 0, 0);
  padding: 8px;
  border: 1px solid #bebebe;
  border-radius: 3px;
}

@media (max-width: 1000px) {
  .title {
    text-align: start;
  }

  .buttons {
    justify-content: flex-start;
  }
  .filtersButton {
    display: flex;
  }

  .success {
    padding: 12px;
    font-size: 12px;
  }

  .reset {
    padding: 12px;
    font-size: 12px;
  }
}
