.title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
  text-align: end;
  cursor: pointer;
}

.filtersButton {
  min-width: 232px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
  width: fit-content;

  & p {
    font-weight: 600;
    margin-left: 8px;
    margin-right: 8px;
  }
}

.inputs {
  display: flex;
  justify-content: space-between;
  width: 232px;
  margin-bottom: 15px;
}

.input {
  padding: 10px;
  width: 110px;
  height: 40px;
  border: 1px solid #bebebe;
  border-radius: 7px;
  transition: all 0.5s;

  &:hover {
    transition: all 0.5s;

    -webkit-box-shadow: 0px 0px 6px 1px #000000;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.1);
  }
}

.buttons {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.success {
  cursor: pointer;
  background-color: #1e5900;
  color: #fff;
  padding: 8px;
  border: none;
  border-radius: 3px;
  margin-right: 8px;
  transition: all 0.5s;

  &:hover {
    transition: all 0.5s;
    background-color: #257000;
    -webkit-box-shadow: 0px 0px 25px 2px rgba(30, 89, 0, 0.2);
    box-shadow: 0px 0px 25px 2px rgba(30, 89, 0, 0.2);
  }
}

.reset {
  cursor: pointer;
  background-color: #fff;
  color: rgb(0, 0, 0);
  padding: 8px;
  border: 1px solid #bebebe;
  border-radius: 3px;
  transition: all 0.5s;

  &:hover {
    transition: all 0.5s;
    background-color: #fdfdfd;
    -webkit-box-shadow: 0px 0px 25px 2px rgba(189, 189, 189, 0.2);
    box-shadow: 0px 0px 25px 2px rgba(189, 189, 189, 0.2);
  }
}

@media (max-width: 1000px) {
  .title {
    text-align: start;
  }

  .buttons {
    justify-content: flex-start;
  }
  .filtersButton {
    display: flex;
  }

  .success {
    padding: 12px;
    font-size: 12px;
  }

  .reset {
    padding: 12px;
    font-size: 12px;
  }
}
