.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 1300px;
  padding: 20px 0px;
  margin: 0 auto;
}

@media (max-width: 1400px) {
  .container {
    padding: 20px;
  }
}
