.product {
  flex: 1 0 auto;
  .content {
    display: flex;
    align-items: stretch;
    border-bottom: 1px solid #efefef;
    transform: rotate(-0.13deg);
    .productImgSwipper {
      // opacity: 0;
      // visibility: hidden;
      display: none;
    }
    @media (max-width: 770px) {
      margin: 20px 0px 0px 0px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .productImgSwipper {
        // opacity: 1;
        // visibility: visible;
        display: block;
        img {
          max-width: 300px;
        }
      }
      .productImg {
        align-self: center;
      }

      .large {
        margin-bottom: 7px;
      }
      .small {
        opacity: 0;
        visibility: hidden;
      }
    }
    .productImg {
      margin: 16px 148px 64px 0px;
      @media (max-width: 895px) {
        margin: 16px 100px 64px 0px;
      }
      @media (max-width: 850px) {
        margin: 16px 70px 64px 0px;
      }
      @media (max-width: 820px) {
        margin: 16px 40px 64px 0px;
      }
      @media (max-width: 790px) {
        margin: 16px 0px 10px 0px;
      }
      @media (max-width: 770px) {
        margin: 16px 0px 10px 0px;
        display: none;
      }

      .large {
        margin-bottom: 17px;
        img {
          width: 355px;
          height: 315px;
        }
      }
      .small {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        .active {
          display: flex;
          background: #ffffff;
          border: 0.7px solid #f5f5f5;
        }
        img {
          width: 77px;
        }
      }
    }
    .body {
      align-self: flex-start;
      @media (max-width: 770px) {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      margin-top: 55px;
      .subtitle {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 15px;

        @media (max-width: 770px) {
          margin-bottom: 20px;
        }
        @media (max-width: 400px) {
          font-size: 14px;
        }
      }
      .price {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;

        @media (max-width: 770px) {
          margin-bottom: 20px;
          font-size: 22px;
        }

        span {
          margin-right: 45px;
          &:last-child {
            align-self: flex-end;
            margin-right: 0px;
          }
        }
      }
      .heartIcon {
        cursor: pointer;
        display: flex;
        align-items: center;
        background-color: #f7f9fa;
        padding: 5px;
        border-radius: 50px;

        & svg {
          @media (max-width: 770px) {
            font-size: 30px;
          }
        }
      }
    }
  }
  .desc {
    margin: 47px 0px 0px 0px;
    @media (max-width: 770px) {
      margin: 27px 0px 0px 0px;
    }
    .title {
      margin-bottom: 18px;
      font-weight: 700;
      font-size: 16px;
      line-height: 16px;
      @media (max-width: 450px) {
        font-size: 14px;
      }
    }
    .body {
      font-size: 13px;
      line-height: 16px;
    }
  }
}
