.product{
	.breadcrumbs{
		margin-top:27px ;
	}
	.header{
		display: flex;
		align-items: center;
		margin: 35px 0px 0px 0px;
		.leftArrow{
			display: flex;
			align-items: center;
			text-align: center;
			align-self: center;
			padding: 5px 5px;
			margin-right: 21px;
			align-self: center;
			background: #FFFFFF;
			border: 1px solid #F2F2F2;
			border-radius: 8px;
		}
		.title{
				
				font-weight: 700;
				font-size: 16px;
				line-height: 20px;
				
		}
	}
	.content{
		display: flex;
		align-items: stretch;
		border-bottom: 1px solid #EFEFEF;
		transform: rotate(-0.13deg);
		.productImg{
			margin: 16px 148px 64px 0px;
			.large{
				margin-bottom: 12px;
				img{
					max-width: 355px;
				};
			}
			.small{
				display: flex;
				justify-content: space-between;

			}
		}
		.body{
			margin-top:47px ;
			.subtitle{
				font-weight: 400;
				font-size: 13px;
				line-height: 20px;
				margin-bottom: 15px
			}
			.price{
				display: flex;
			
				font-weight: 700;
				font-size: 20px;
				line-height: 30px;
				span{
					align-self: flex-start;
					margin-right: 45px;
					&:last-child{
						align-self: flex-end;
						margin-right: 0px;
					}
				}
			}
			.heartIcon{
				cursor: pointer;
			}
		}
	}
		.desc{
			margin: 47px 0px 133px 0px;
			
			.title{
				margin-bottom: 18px;
				font-weight: 700;
				font-size: 16px;
				line-height: 16px;
			}
			.body{
				font-size: 13px;
				line-height: 16px;
			}
		}
}