		
		.subtitles {
			display: flex;
			border-bottom: 1.5px solid #DFE0EB;
			margin-top: 35px;
			.subtitle {
				margin-bottom: 10px;
				flex: 0 0 26.5%;
				font-weight: 700;
				font-size: 14px;
				line-height: 18px;
				letter-spacing: 0.2px;
				color: #9FA2B4;
			}
		}


	