.container {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.categories {
  display: flex;

  & a {
    color: #767676;
    transition: all 0.5s;
  }

  & a:hover {
    color: #3f3f3f;
    transition: all 0.5s;
  }
}
