.container {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.categories {
  display: flex;

  & a {
    color: #767676;
    transition: all 0.5s;
  }

  & a:hover {
    color: #3f3f3f;
    transition: all 0.5s;
  }
}
// @media (max-width: 1400px) {
//   .container {
//     flex-wrap: wrap;
//   }

//   .categories {
//     width: -webkit-fill-available;
//     text-align: center;
//     margin-top: 15px;
//   }
// }

@media (max-width: 1000px) {
  .container {
    display: none;
  }
}
