.category{
	margin: -30px 30px;
	
}
		.form {
			display: flex;
			align-items: center;
			.image{
				margin-right: 10px;
				img{
					width:80px
				}
			}
			.input {
				flex: 0 0 32.5%;
				padding: 11px 14px;
				margin-right: 25px;
				border: 1px solid #F5F5F5;
				border-radius: 5px;
				input {
					width: 100%;
					font-weight: 400;
					font-size: 14px;
					line-height: 20px;
					letter-spacing: 0.2px;
					color: #B0B0B0;
				}
			}
	
		}
		