html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
#root {
  height: 100%;
}

input,
label,
textarea {
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  border: none;
  outline: none;
}

p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

ul {
  list-style-type: none;
}

button {
  font-family: "Montserrat";
}
button,
button:active,
button:focus {
  outline: none;
}
button {
  outline: none;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

input:active,
input:focus {
  outline: none;
}
input[type="text"],
input[type="submit"] {
  border: none;
  background: none;
  outline: none;
  padding: 0;
}

::placeholder {
  color: #a7a7a7;
}

.swiper-button-prev {
  color: #353535;
  transition: all 0.5s;
  padding: 50px 25px;
  margin-left: -25px;
}

.swiper-button-prev:hover {
  transition: all 0.5s;
  color: #444444;
}

.swiper-button-prev::after {
  font-size: 30px;
}

.swiper-button-next {
  color: #353535;
  transition: all 0.5s;
  padding: 50px 25px;
  margin-right: -25px;
}

.swiper-button-next:hover {
  transition: all 0.5s;
  color: #2e2e2e;
}

.swiper-button-next::after {
  font-size: 20px;
}

.swiper {
  max-width: 1050px;
}

.swiper-slide {
  text-align: center;
}

@media screen and (max-width: 400px) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
}
@media screen and (max-width: 1300px) {
  .swiper {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1250px) {
  .swiper {
    max-width: 800px;
  }
}

@media screen and (max-width: 1000px) {
  .swiper {
    max-width: 600px;
  }
  .swiper-button-next::after {
    font-size: 30px;
  }
}
