.catalog {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 65px;
  border: none;
  background: none;

  & p {
    margin-left: 10px;
    font-weight: 500;
  }
}

.menu {
  width: 400px;
}
.wrapper {
  padding: 25px;
  width: 450px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.categories {
  margin-bottom: 15px;
}

.allCategories {
  color: #767676;
}

.title {
  color: #000;
  font-weight: 600;
  margin-bottom: 15px;
}

.category {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s;
  justify-content: space-between;
  margin-bottom: 5px;

  &Body {
    display: flex;
    align-items: center;
  }

  &:hover {
    background-color: rgb(250, 250, 250);
    transition: all 0.5s;
  }

  & img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
}

@media (max-width: 1400px) {
  .catalog {
    margin-right: 35px;
  }
}
